@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Outfit", "Arial Narrow", Arial, sans-serif;
}

.dark-btn {
  background: #9220d9;
  color: #ffffff;
  border-radius: 10px;
}
.dark-btn:hover {
  background: #ffffff;
  color: #9220d9;
}
.dark-btn:focus {
  box-shadow: none;
}

.red-btn {
  background: #9220d9;
  color: #ffffff;
  border-radius: 10px;
}
.red-btn:hover {
  background: #9220d9;
  color: #ffffff;
}
.red-btn:focus {
  box-shadow: none;
}

.light-btn {
  background: #ffffff;
  color: #d187ff;
  border-radius: 10px;
}
.light-btn:hover {
  background: #9220d9;
  color: #ffffff;
}
.light-btn:focus {
  box-shadow: none;
}

.centerMid {
  display: flex;
  align-items: center;
  justify-content: center;
}

.sticky-top {
  top: -1px !important;
}

section.header {
  border-bottom: 1px solid rgba(209, 135, 255, 0.1);
  background-color: #0C0C0E;
}
section.header nav .navbar-brand img {
  width: 132px;
}
section.header nav .navbar-nav .nav-item a.nav-link {
  color: #ffffff;
  opacity: 0.8;
  white-space: nowrap;
  border-bottom: 2px solid #0C0C0E;
}
section.header nav .navbar-nav .nav-item a.nav-link:hover {
  color: #d187ff;
  border-bottom: 2px solid #9220d9;
}
section.header nav .searchBox {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  margin-left: 60px;
  white-space: nowrap;
}
section.header nav button.navbar-toggler:focus {
  box-shadow: none;
}

section.slider {
  background-color: #0C0C0E;
}
section.slider .owl-carousel-slider .item {
  position: relative;
  text-align: center;
  color: #ffffff;
}
section.slider .owl-carousel-slider .item .detailsBox {
  width: 100%;
  position: absolute;
  left: 50%;
  top: 200px;
  transform: translate(-50%);
}
section.slider .owl-dots {
  position: absolute;
  bottom: 40px;
  left: 50%;
  transform: translate(-50%);
}

section.clients {
  padding-top: 30px;
  background: linear-gradient(360deg, #0c0c0e 50%, #d187ff 50%);
}
section.clients .container {
  background: #9220d9;
  padding: 30px;
  border-radius: 20px;
  box-shadow: 30px 42px 31px rgba(0, 0, 0, 0.01), 13px 19px 23px rgba(0, 0, 0, 0.02), 3px 5px 13px rgba(0, 0, 0, 0.02), 0px 0px 0px rgba(0, 0, 0, 0.02);
}

section.aboutUs {
  padding: 70px 0;
  color: #ffffff;
  background-color: #0C0C0E;
}

section.certification {
  padding: 70px 0;
  background: #9220d9;
  color: #ffffff;
  text-align: center;
}
section.certification p {
  max-width: 800px;
  margin: 0 auto 50px;
}

section.service {
  padding: 70px 0;
  background: rgba(12, 12, 14, 0.2);
  color: #d187ff;
}
section.service h1 {
  text-align: center;
  margin-bottom: 60px;
}
section.service .content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  background: #ffffff;
  height: 128px;
  border-radius: 20px;
  box-shadow: 30px 42px 31px rgba(0, 0, 0, 0.01), 13px 19px 23px rgba(0, 0, 0, 0.02), 3px 5px 13px rgba(0, 0, 0, 0.02), 0px 0px 0px rgba(0, 0, 0, 0.02);
  border: 1.5px solid #f5f5f5;
  justify-content: flex-start !important;
  padding-left: 50px;
  position: relative;
  border: 1.5px solid #ededed;
  z-index: 0;
}
section.service .content .iconBox {
  width: 75px;
  height: 75px;
  background-color: #ffffff;
  border-radius: 50%;
}
section.service .content .iconBox .icon {
  width: 75px;
  height: 75px;
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
}
section.service .content .iconBox .icon1 {
  background-image: url("../assets/icons/platform.svg");
}
section.service .content .iconBox .icon2 {
  background-image: url("../assets/icons/heart.svg");
}
section.service .content .circle {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 130px;
  height: 130px;
  border-radius: 50%;
  background-color: #ffffff;
  color: #d187ff;
  display: none;
  box-shadow: 30px 42px 31px rgba(0, 0, 0, 0.01), 13px 19px 23px rgba(0, 0, 0, 0.02), 3px 5px 13px rgba(0, 0, 0, 0.02), 0px 0px 0px rgba(0, 0, 0, 0.02);
}
section.service .content .circle p {
  text-align: center;
  font-size: 12px;
  max-width: 80px;
  font-weight: 500;
}
section.service .content .circle1 {
  top: -115px;
  left: 20px;
}
section.service .content .circle2 {
  left: -100px;
  top: 50%;
  transform: translateY(-50%);
}
section.service .content .circle3 {
  bottom: -115px;
  left: 20px;
}
section.service .content .circle4 {
  top: -115px;
  left: 20px;
}
section.service .content .circle5 {
  left: -100px;
  top: 50%;
  transform: translateY(-50%);
}
section.service .content .circle6 {
  bottom: -115px;
  left: 20px;
}
section.service .content:hover {
  background-color: #9220d9;
}
section.service .content:hover .circle {
  display: flex;
  transition: 0.5s;
}
section.service .content:hover .heading {
  color: #ffffff;
}
section.service .content:hover .iconBox .icon1 {
  background-image: url("../assets/icons/platformHover.svg");
}
section.service .content:hover .iconBox .icon2 {
  background-image: url("../assets/icons/heartHover.svg");
}

section.idea {
  padding: 70px 0 0 0;
  color: #ffffff;
  background-color: #0C0C0E;
}

section.casestudies {
  padding: 0 0 70px 0;
  background-color: #0C0C0E;
}
section.casestudies h1 {
  margin-bottom: 50px;
  color: #ffffff;
}
section.casestudies .slidenav {
  display: flex;
  justify-content: end;
  gap: 20px;
}
section.casestudies .slidenav .btnBox {
  border: 1px solid #d187ff;
  border-radius: 10px;
  cursor: pointer;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
section.casestudies .slidenav .btnBox .fa-arrow-left {
  color: #d187ff;
}
section.casestudies .slidenav .btnBox .fa-arrow-right {
  color: #ffffff;
}
section.casestudies .slidenav .btnBox1 {
  background: #9220d9;
}
section.casestudies .slidenav .btnBox2 {
  background: #9220d9;
}
section.casestudies .owl-carousel-casestudy .item {
  position: relative;
}
section.casestudies .owl-carousel-casestudy .item .textBox {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #9220d9;
  color: #ffffff;
  border-radius: 20px;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transform: translateY(-103%);
}
section.casestudies .owl-carousel-casestudy .item:hover .textBox {
  transform: translateY(0%);
  transition: all ease-in 0.4s;
}

section.whyus {
  padding: 70px 0;
  color: #ffffff;
  background: #9220d9;
}
section.whyus .sectionTitle p {
  max-width: 600px;
  margin: auto;
}
section.whyus .content {
  background: #ffffff;
  padding: 20px;
  border-radius: 20px;
  margin-top: 50px;
  border: 2px solid #ffffff;
  box-shadow: 30px 42px 31px rgba(0, 0, 0, 0.01), 13px 19px 23px rgba(0, 0, 0, 0.02), 3px 5px 13px rgba(0, 0, 0, 0.02), 0px 0px 0px rgba(0, 0, 0, 0.02);
  color: #0C0C0E;
  transition: 1s;
}
section.whyus .content .heading {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 15px;
}
section.whyus .content .heading h2 {
  font-size: 24px;
  color: #9220d9;
}
section.whyus .content p {
  margin-bottom: 0;
}
section.whyus .content:hover {
  border: 2px solid #9220d9;
}

section.techStack {
  padding: 70px 0;
  background-color: #0C0C0E;
  color: #ffffff;
}
section.techStack .tabButtonBox {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
section.techStack .tabButtonBox .tabButton {
  border: 1.5px solid #ededed;
  border-radius: 15px;
  padding: 12px;
  text-align: center;
  color: #ffffff;
  cursor: pointer;
}
section.techStack .tabButtonBox .tabButton.active {
  color: #ffffff;
  box-shadow: 30px 42px 31px rgba(0, 0, 0, 0.01), 13px 19px 23px rgba(0, 0, 0, 0.02), 3px 5px 13px rgba(0, 0, 0, 0.02), 0px 0px 0px rgba(0, 0, 0, 0.02);
  background: #9220d9;
}
section.techStack .techIcons {
  border: 1.5px solid #f5f5f5;
  background-color: #1e1e22;
  box-shadow: 30px 42px 31px rgba(0, 0, 0, 0.01), 13px 19px 23px rgba(0, 0, 0, 0.02), 3px 5px 13px rgba(0, 0, 0, 0.02), 0px 0px 0px rgba(0, 0, 0, 0.02);
  border-radius: 15px;
}
section.techStack .techIcons .imgBox {
  padding: 15px;
  border-radius: 15px;
  border: 1.5px solid #ededed;
  background: #ffffff;
  height: 115px;
  margin-top: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}
section.techStack .techIcons .imgBox img {
  width: 50px;
}
section.techStack .techIcons .imgBox:hover {
  box-shadow: 30px 42px 31px rgba(0, 0, 0, 0.01), 13px 19px 23px rgba(0, 0, 0, 0.02), 3px 5px 13px rgba(0, 0, 0, 0.02), 0px 0px 0px rgba(0, 0, 0, 0.02);
}

section.quote {
  color: #ffffff;
  background: rgb(255, 255, 255);
  background: linear-gradient(180deg, #9220d9 50%, #0c0c0e 50%);
}
section.quote .container {
  padding: 70px 0;
  background: #d187ff;
  border-radius: 20px;
}
section.quote .container .content {
  padding: 40px;
}

section.reviews {
  padding: 70px 0;
  color: #d187ff;
  background: #0C0C0E;
}
section.reviews .item {
  box-shadow: 30px 42px 31px rgba(0, 0, 0, 0.01), 13px 19px 23px rgba(0, 0, 0, 0.02), 3px 5px 13px rgba(0, 0, 0, 0.02), 0px 0px 0px rgba(0, 0, 0, 0.02);
  border-radius: 20px;
  background: #ffffff;
}
section.reviews .item .starts img {
  width: 25px;
  display: inline-block;
  margin: 5px;
}
section.reviews .item .clientProfile {
  display: flex;
  gap: 10px;
}
section.reviews .item .clientProfile .img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
section.reviews .item .clientProfile .img img {
  width: 100%;
}
section.reviews .item .clientProfile .text p.name {
  margin-bottom: 0;
  font-weight: 700;
  font-size: 20px;
}
section.reviews .item .clientProfile .text p.deg {
  margin-bottom: 0;
  font-size: 16px;
}
section.reviews .owl-theme .owl-dots .owl-dot.active span,
section.reviews .owl-theme .owl-dots .owl-dot:hover span {
  background: #9220d9 !important;
}
section.reviews .owl-theme .owl-dots .owl-dot span {
  background: rgba(146, 32, 217, 0.3) !important;
}

section.workwith {
  padding: 70px 0;
}
section.workwith .cardContainer {
  background-image: url("../assets/bg-map.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
section.workwith .cardContainer .contentBox {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ffffff;
  border-radius: 20px;
  padding: 15px;
  box-shadow: 30px 42px 31px rgba(0, 0, 0, 0.01), 13px 19px 23px rgba(0, 0, 0, 0.02), 3px 5px 13px rgba(0, 0, 0, 0.02), 0px 0px 0px rgba(0, 0, 0, 0.02);
  gap: 15px;
  border: 1.5px solid #f5f5f5;
}
section.workwith .cardContainer .contentBox h3 {
  margin-bottom: 0;
  font-size: 24px;
  color: #9220d9;
}
section.workwith .cardContainer .fitContent {
  margin: 15px auto;
  width: -moz-fit-content;
  width: fit-content;
}
section.workwith .content {
  padding-left: 40px;
}
section.workwith .content h1 {
  color: #9220d9;
}

section.requestportfolio {
  padding: 70px 0;
  background-color: #0C0C0E;
}
section.requestportfolio h1 {
  color: #ffffff;
}
section.requestportfolio form {
  margin-top: 40px;
}
section.requestportfolio form input,
section.requestportfolio form textarea {
  background: #9220d9;
  color: #ffffff;
}
section.requestportfolio form input:focus,
section.requestportfolio form textarea:focus {
  box-shadow: none;
  background: #9220d9;
  color: #ffffff;
}
section.requestportfolio form button {
  width: 120px;
}

section.featuredOn {
  background: #0C0C0E;
}
section.featuredOn .content {
  background: #9220d9;
  border-radius: 20px;
  padding: 20px;
  box-shadow: 30px 42px 31px rgba(0, 0, 0, 0.01), 13px 19px 23px rgba(0, 0, 0, 0.02), 3px 5px 13px rgba(0, 0, 0, 0.02), 0px 0px 0px rgba(0, 0, 0, 0.02);
  border: 2px solid #f5f5f5;
  transition: 0.5s;
}
section.featuredOn .content img.logo {
  height: 25px;
}
section.featuredOn .content P:last-child {
  margin-top: 15px;
}
section.featuredOn .content:hover {
  border: 2px solid #9220d9;
}

footer.footer {
  padding: 70px 0 0 0;
  background: #0C0C0E;
}
footer.footer .logo {
  width: 150px;
  margin-bottom: 15px;
}
footer.footer p {
  color: #ffffff;
}
footer.footer .secoalMedia {
  display: flex;
  gap: 8px;
}
footer.footer .secoalMedia .icon {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: 1.5px solid rgba(12, 12, 14, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
}
footer.footer .secoalMedia .icon a {
  text-decoration: none;
  color: #d187ff;
}
footer.footer .secoalMedia .icon:hover {
  background: #9220d9;
}
footer.footer .secoalMedia .icon:hover a {
  color: #ffffff;
}
footer.footer h4 {
  color: #9220d9;
  font-size: 16px;
}
footer.footer ul {
  list-style: none;
  padding: 0;
}
footer.footer ul li {
  margin: 8px 0;
}
footer.footer ul li a {
  text-decoration: none;
  color: #d187ff;
}
footer.footer ul li a:hover {
  color: #9220d9;
}
footer.footer .copyright {
  border-top: 1px solid rgba(12, 12, 14, 0.4);
  text-align: center;
  padding: 10px;
  margin-top: 20px;
  background-color: #1e1e22;
}
footer.footer .copyright p {
  margin-bottom: 0;
  color: #ffffff;
}

section.main {
  padding: 70px;
  background-image: url("../assets/mainImg.jpg");
  background-position: center;
  background-size: cover;
  height: 420px;
  background-repeat: no-repeat;
}
section.main .centerLeft {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
section.main .content {
  color: #ffffff;
}
section.main .content p {
  max-width: 270px;
}

section.tabContainer {
  padding: 10px 0;
  background: #fef8f8;
}
section.tabContainer .buttonBox {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
section.tabContainer .buttonBox a {
  text-decoration: none;
  color: #d187ff;
  font-weight: 500;
  border-radius: 10px;
  padding: 12px 40px;
  white-space: nowrap;
}
section.tabContainer .buttonBox a:hover {
  background-color: #9220d9;
  color: #ffffff;
}
section.tabContainer .buttonBox a.active {
  background-color: #9220d9;
  color: #ffffff;
}

section.aboutHealthTech {
  padding: 40px 0;
  color: #d187ff;
}

section.healthcareApp {
  padding: 70px 0;
  background: rgba(146, 32, 217, 0.03);
}
section.healthcareApp .content {
  box-shadow: 30px 42px 31px rgba(0, 0, 0, 0.01), 13px 19px 23px rgba(0, 0, 0, 0.02), 3px 5px 13px rgba(0, 0, 0, 0.02), 0px 0px 0px rgba(0, 0, 0, 0.02);
  border-radius: 10px;
  background: #ffffff;
  height: 100%;
}
section.healthcareApp .content img {
  width: 100%;
  border-radius: 10px 10px 0 0;
}
section.healthcareApp .content h4 {
  font-size: 18px;
  padding: 18px 18px 0;
}
section.healthcareApp .content p {
  font-size: 14px;
  padding: 0 18px 18px;
}

section.HealthcareBenefits {
  padding: 70px 0;
}

section.builthealthcareApp {
  padding: 0 0 70px;
}
section.builthealthcareApp .container {
  background: #d187ff;
  color: #ffffff;
  padding: 40px;
  border-radius: 20px;
}
section.builthealthcareApp .container .content p {
  color: rgba(255, 255, 255, 0.8);
}
section.builthealthcareApp .container .content img {
  width: 100%;
  display: block;
}

section.whyChooseus {
  padding: 70px 0;
  background: rgba(209, 135, 255, 0.02);
}
section.whyChooseus .content {
  position: relative;
  padding: 70px 30px 0;
  text-align: center;
}
section.whyChooseus .content .gradient {
  position: absolute;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: -2;
  background: linear-gradient(180deg, #d92029 0%, rgba(255, 255, 255, 0) 100%);
}
section.whyChooseus .content .gradient2 {
  position: absolute;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: -2;
  background: linear-gradient(180deg, #333333 0%, rgba(255, 255, 255, 0) 100%);
}
section.whyChooseus .content .lightCircle {
  position: absolute;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  z-index: -2;
  background: #ffffff;
}

section.casestudyHealthtech {
  padding: 70px 0 !important;
}

section.techStackHealthtech {
  background: rgba(209, 135, 255, 0.02);
}

section.launchOnline {
  padding: 70px 0;
}
section.launchOnline .content img {
  width: 100%;
  display: block;
}
section.launchOnline .content h1 {
  max-width: 450px;
}
section.launchOnline .content h1 span {
  color: #9220d9;
  font-weight: 700;
}
section.launchOnline .content p {
  max-width: 340px;
}
section.launchOnline .content p span {
  color: #d187ff;
  font-weight: 700;
}

section.blog {
  padding: 70px 0;
  text-align: center;
  background: rgba(146, 32, 217, 0.02);
}
section.blog .toggleButton {
  border: 1px solid #d187ff;
  border-radius: 10px;
  cursor: pointer;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
section.blog .toggleButton .fa-arrow-left {
  color: #d187ff;
}
section.blog .toggleButton .fa-arrow-right {
  color: #ffffff;
}
section.blog .toggleButton.leftToggle {
  background: #ffffff;
}
section.blog .toggleButton.leftToggle:hover {
  background: #d187ff;
}
section.blog .toggleButton.leftToggle:hover .fa-arrow-left {
  color: #ffffff;
}
section.blog .toggleButton.rightToggle {
  background: #d187ff;
}
section.blog .toggleButton.rightToggle:hover {
  background: #ffffff;
}
section.blog .toggleButton.rightToggle:hover .fa-arrow-right {
  color: #d187ff;
}
section.blog .slider .item img {
  width: 100%;
}
section.blog .slider .item p {
  max-width: 780px;
  margin: 20px auto;
}

@media only screen and (max-width: 1200px) {
  section.service .content {
    height: 108px;
    padding-left: 20px;
  }
  section.service .content .circle {
    width: 80px;
    height: 80px;
  }
  section.service .content .circle p {
    font-size: 10px;
  }
  section.service .content .circle1 {
    top: -70px;
    left: 5%;
  }
  section.service .content .circle2 {
    left: 50%;
    top: -70px;
    transform: translateX(-50%);
  }
  section.service .content .circle3 {
    top: -70px;
    bottom: auto;
    left: auto;
    right: 5%;
  }
  section.service .content .circle4 {
    top: auto;
    left: 5%;
    bottom: -70px;
  }
  section.service .content .circle5 {
    left: 50%;
    top: auto;
    bottom: -70px;
    transform: translateX(-50%);
  }
  section.service .content .circle6 {
    bottom: -70px;
    left: auto;
    right: 5%;
  }
}
@media only screen and (max-width: 992px) {
  section.slider .owl-carousel-slider .item .detailsBox {
    top: 150px;
  }
  section.slider .owl-dots {
    bottom: 25px;
  }
  section.techStack .tabButtonBox {
    flex-direction: row;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  section.techStack .tabButtonBox .tabButton {
    padding: 10px;
  }
  section.techStack .techIcons {
    padding-bottom: 15px;
    margin-top: 15px;
  }
  section.techStack .techIcons .imgBox {
    height: 70px;
  }
  section.techStack .techIcons .imgBox img {
    width: 40px;
  }
  section.slider .owl-carousel-slider .item .detailsBox {
    top: 100px;
  }
  section.slider .owl-dots {
    bottom: 20px;
  }
  section.workwith {
    padding: 70px 0;
  }
  section.workwith .cardContainer .contentBox h3 {
    margin-bottom: 0;
    font-size: 20px;
  }
  section.workwith .cardContainer .fitContent {
    margin: 15px auto;
    width: -moz-fit-content;
    width: fit-content;
  }
  section.workwith .content {
    margin-top: 40px;
    padding-left: 0px;
  }
}
@media only screen and (max-width: 850px) {
  section.slider .owl-carousel-slider .item .detailsBox {
    top: 100px;
  }
  section.slider .owl-dots {
    bottom: 20px;
  }
  section.tabContainer .buttonBox {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    flex-wrap: wrap;
  }
  section.tabContainer .buttonBox a {
    font-weight: 400;
    padding: 5px 10px;
  }
}
@media only screen and (max-width: 735px) {
  section.clients .textLine p {
    text-align: center;
  }
  section.slider .owl-carousel-slider .item .detailsBox {
    top: 90px;
  }
  section.slider .owl-carousel-slider .item .detailsBox h1 {
    font-size: 25px;
  }
  section.slider .owl-dots {
    bottom: 15px;
  }
  section.casestudies {
    padding: 40px 0 70px 0;
  }
  section.casestudies h1 {
    margin-bottom: 30px;
  }
  section.casestudies .owl-carousel-casestudy .item .textBox p {
    font-size: 14px;
  }
}
@media only screen and (max-width: 768px) {
  section.blog .blogButtons {
    margin-bottom: 15px;
  }
  section.blog .SliderContainer {
    order: 1;
  }
}
@media only screen and (max-width: 576px) {
  section.slider .owl-carousel-slider .item .detailsBox {
    top: 30px;
  }
  section.slider .owl-carousel-slider .item .detailsBox h1 {
    font-size: 20px;
  }
  section.slider .owl-carousel-slider .item .detailsBox p {
    margin: 0 auto 10px;
    font-size: 13px;
    max-width: 250px;
  }
  section.slider .owl-dots {
    display: none;
    bottom: 5px;
  }
  section.casestudies {
    padding: 40px 0 70px 0;
  }
  section.casestudies h1 {
    margin-bottom: 30px;
  }
  section.main {
    padding: 40px;
    background-position: center;
    height: 300px;
  }
  section.tabContainer .buttonBox {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    flex-wrap: wrap;
  }
  section.tabContainer .buttonBox a {
    font-weight: 400;
    padding: 5px 8px;
    font-size: 12px;
  }
  footer.footer {
    text-align: center;
  }
  footer.footer .secoalMedia {
    justify-content: center;
  }
  footer.footer .copyright p {
    font-size: 14px;
  }
}
@media only screen and (max-width: 360px) {
  section.slider .owl-carousel-slider .item .detailsBox {
    top: 5px;
  }
}/*# sourceMappingURL=responsive.css.map */